/**
.build
.build/**
!/wp-content/
!.dev
!.dev/**
/wp-content/*
!/wp-content/plugins/
!/wp-content/plugins/bp_wpuc
!/wp-content/plugins/bp_wpuc/**
!/wp-content/plugins/bp_wpuc/themes
/wp-content/plugins/bp_wpuc/themes/default/assets
/wp-content/plugins/bp_wpuc/vendor

!/LICENSE
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/.gitignore
!/postcss.config.js
!/package.json
!/package-lock.json

!PHP File Header.php
!build.properties
!webpack.config.js